{# 
 # @fileName : partials/_templates_global.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 09/02/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

{# ========================================
   TEMPLATE : Badge de filtre actif
   Utilisé par : modal_filtres_livre_handler.js et modal_filtres_mouvement_handler.js
   ======================================== #}
<template id="filter-tag-template">
    <span class="filter-tag">
        <strong data-slot="label"></strong> 
        <span data-slot="value"></span>
        <button type="button" 
                data-action="remove" 
                class="filter-tag-remove"
                title="Supprimer ce filtre">
            ×
        </button>
    </span>
</template>
