{# 
 # @fileName : partials/_templates_livre.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 09/02/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

{# ========================================
   TEMPLATE : Ligne de tableau pour un livre
   Utilisé par : livre_tableau_dynamique.js → createLivreRowFromTemplate()
   ======================================== #}
<template id="livre-row-template">
    <tr class="modal-trigger-livre">
        {# Colonne ISBN #}
        <td data-slot="isbn">
        </td>
        
        {# Colonne Titre #}
        <td data-slot="titre">
        </td>
        
        {# Colonne Auteur #}
        <td data-slot="auteur"></td>
        
        {# Colonne Genre (badge dynamique) #}
        <td data-slot="genre">
            {# Le badge sera créé dynamiquement par le JS #}
        </td>
        
        {# Colonne Stock (badge dynamique + couleur de fond) #}
        <td data-slot="stock">
            {# La classe bg-success ou bg-danger sera ajoutée dynamiquement #}
        </td>
        
        {# Colonne Actif (Admin uniquement - sera supprimée si non admin) #}
        <td data-slot="actif" style="display: none;">
            {# La classe bg-success ou bg-secondary sera ajoutée dynamiquement #}
        </td>
    </tr>
</template>
