{# 
 # @fileName : partials/_templates_mouvement.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 09/02/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}


{# ========================================
   TEMPLATE : Ligne de tableau pour un mouvement
   Utilisé par : mouvement_tableau_dynamique.js → createMouvementRowFromTemplate()
   ======================================== #}
<template id="mouvement-row-template">
    <tr>
        {# Colonne ISBN (avec lien modal ou "Livre supprimé") #}
        <td data-slot="isbn">
            {# Le contenu sera généré dynamiquement :
                 - <a> pour livre existant
                 - <span class="text-danger"> pour livre supprimé #}
        </td>
        
        {# Colonne Titre #}
        <td data-slot="titre">
            {# Texte du titre ou "Livre supprimé" en rouge #}
        </td>
        
        {# Colonne Auteur #}
        <td data-slot="auteur">
            {# Nom de l'auteur ou "Livre supprimé" en rouge #}
        </td>
        
        {# Colonne Type (badge Entrée/Sortie) #}
        <td data-slot="type">
            {# Badge dynamique + classe bg-success ou bg-danger #}
        </td>
        
        {# Colonne Date/Heure #}
        <td data-slot="date"></td>
        
        {# Colonne Utilisateur #}
        <td data-slot="user"></td>
    </tr>
</template>
