{# 
 # @fileName : partials/_templates_mouvement_modal.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 09/02/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

{# ========================================
   TEMPLATE 1 : Livre introuvable
   Proposé quand l'ISBN est absent de la DB locale ET de Google Books
   Données dynamiques : [isbn], [typeAction]
   ======================================== #}
<template id="modal-livre-introuvable-template">
    <div class="div-book-not-found">
    <h3 class="title-book-not-found">Livre Introuvable</h3>
        <p class="p-book-not-found">
            L'ISBN <strong data-slot="isbn"></strong> n'a pas été trouvé
            dans notre base de données ni sur l'API Google Books.
        </p>

        <div class="div-book-not-found-options">
            <button
                class="btn btn-primary btn-book-not-found-options"
                data-action="creer">
                Créer le livre manuellement
            </button>

            <button
                class="btn btn-secondary btn-book-not-found-options"
                data-action="rescanner">
                Rescanner un autre livre
            </button>

            <button
                class="btn btn-light btn-book-not-found-options"
                data-action="annuler">
                ✕ Annuler
            </button>
        </div>
    </div>
</template>