{% extends 'base.html.twig' %}

{% block title %}Connexion Admin{% endblock %}

{% block body %}
<nav style="display: flex; justify-content: center; gap: 20px; margin-top: 30px;">

    <Button onclick="window.location.href='{{ path('app_mouvement_index') }}' " class="btn btn-primary"> Afficher l'historique des mouvements </Button>
    
    <Button onclick="window.location.href='{{ path('app_livre_index') }}' " class="btn btn-primary"> Afficher la bibliothèque actuel </Button>
    
</nav>

{% endblock %}