{# 
 # @fileName : admin/login.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 12/01/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}


{% extends 'base.html.twig' %}

{% block title %}Connexion Admin{% endblock %}
{% block PageTitle %}Connexion Admin{% endblock %}

{% block body %}
<main class="login-container">
    
    <form method="post">
        <label for="pin">Entrez le code PIN à 6 chiffres :</label>
        <input type="password" name="_pin" id="pin" 
               pattern="[0-9]{6}" maxlength="6" inputmode="numeric" 
               required autofocus class="login-pin-input">
        
        <button type="submit" class="login-submit-btn">Valider</button>
    </form>
</main>
{% endblock %}