{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1
 # @dateCreate : 26/01/2026
 # @description : Logique JS et Structure de la modale pour les Mouvements (copié de Livre)
 #}

{# Structure de la Modale Mouvement #}
{# Cette dialog est masquée par défaut et sera pilotée par le JS ci-dessous #}
<dialog id="mouvement-modal" style="width: 50%; border-radius: 8px; border: 1px solid #ccc; padding: 20px;">
    {# Conteneur dynamique où le contenu (détails ou formulaire) sera injecté #}
    <div id="mouvement-modal-content"></div>
    <br>
    <button type="button" onclick="document.getElementById('mouvement-modal').close()">Fermer</button>
</dialog>

<script src="{{ asset('js/modal_mouvement_details.js') }}"></script>