{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 14/01/2026
 # @lastUpdate : 29/01/2026 (Version dynamique pour AJAX - Mouvements)
 #}

<div>
    <div>
        <h5 class="card-title">Rechercher dans l'historique</h5>
        
        <form id="form-recherche-mouvements" class="row g-3" autocomplete="off">
            
            {# Filtre par ISBN #}
            <div class="col-md-4">
                <label for="isbn" class="form-label">Numéro ISBN</label>
                <input type="text" name="isbn" id="isbn" class="form-control" placeholder="Ex: 9782..." autocomplete="off" value="{{ last_isbn ?? '' }}">
            </div>

            {# Filtre par Auteur #}
            <div class="col-md-4">
                <label for="auteur" class="form-label">Auteur</label>
                <input type="text" name="auteur" id="auteur" class="form-control" placeholder="Nom de l'auteur..." autocomplete="off" value="{{ last_auteur ?? '' }}">
            </div>

            {# Filtre par Utilisateur #}
            <div class="col-md-4">
                <label for="user" class="form-label">Utilisateur</label>
                <input type="text" name="user" id="user" class="form-control" placeholder="Nom de la personne..." autocomplete="off" value="{{ last_user ?? '' }}">
            </div>

            {# Filtre par Type (Entrée / Sortie) #}
            <div class="col-md-3">
                <label for="select-type" class="form-label">Type de mouvement</label>
                <select id="select-type" name="type" class="form-select">
                    <option value="">Tous les types</option>
                    <option value="entree">Entrées (Ajouts)</option>
                    <option value="sortie">Sorties (Retraits)</option>
                </select>
            </div>

            {# Tri par Date #}
            <div class="col-md-3">
                <label for="select-tri" class="form-label">Ordre d'affichage</label>
                <select id="select-tri" name="tri" class="form-select">
                    <option value="DESC" selected>Plus récent au plus ancien</option>
                    <option value="ASC">Plus ancien au plus récent</option>
                </select>
            </div>
            
            <div class="col-12 d-flex justify-content-end">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Rechercher
                    </button>
                    
                    <button type="button" class="btn btn-outline-secondary" id="btn-effacer">
                        Effacer
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
