{# 
 # @fileName : livre/_delete_form.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 12/01/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

<form method="post" action="{{ path('app_livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce livre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>