{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.2
 # @dateCreate : 02/02/2026
 # @lastUpdate : 02/02/2026 (Unification avec modal_handler.js)
 #}

{# Structure de la Modale Principale - UNIFIÉ avec modal_handler.js #}
<dialog id="modale_principale" class="modal-livre-details">
    <div id="contenu_modale"></div>
</dialog>

{# Modale secondaire pour la description complète #}
<dialog id="description-modal" class="modal-description">
    <div class="modal-description-header">
        <h3><i class="fas fa-book-open"></i> Description complète</h3>
        <button type="button" class="btn-close-description" onclick="closeDescriptionModal()">
            ✕
        </button>
    </div>
    <div id="description-content" class="modal-description-content"></div>
    <div class="modal-description-footer">
        <button type="button" class="btn btn-secondary" onclick="closeDescriptionModal()">
            Fermer
        </button>
    </div>
</dialog>

<script src="{{ asset('js/modal_livre_details.js') }}"></script>