{# 
 # @fileName : livre/_modal_livre_not_found.html.twig
 # @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 1.0
 # @dateCreate : 12/01/2026
 # @lastUpdate : 11/02/2026 (ajout des entêtes)
 #}

<div class="modal-404">
    <h3>Livre introuvable</h3>
    
    <p>L'ISBN <strong>{{ isbn }}</strong> n'existe pas dans notre base de données et n'a pas pu être identifié sur Google Books.</p>
    
    <div class="alert alert-warning">
        <strong>Que souhaitez-vous faire ?</strong>
    </div>

    <div class="modal-actions-column">
        <button class="btn btn-primary" onclick="ouvrirCreationRapide('{{ isbn }}')">
            Création rapide ( Titre, Auteur et Genre (optionnel) )
        </button>
        
        <button class="btn btn-secondary" onclick="ouvrirScan('{{ typeAction }}')">
            Réessayer le scan
        </button>
        
        <button class="btn btn-light" onclick="document.getElementById('modale_principale').close()">
            Annuler
        </button>
    </div>
</div>

<script src="{{ asset('js/modal_livre_not_found.js') }}"></script>