{# @author : Dufour Marc (marc.dufour@stjosup.com)
 # @version : 2.0
 # @dateCreate : 14/01/2026
 # @lastUpdate : 28/01/2026 (Version dynamique pour AJAX)
 #}

<div class="bg-light mb-4">
    <div>
        <h5 class="card-title">Rechercher dans l'inventaire</h5>
        
        <form id="form-recherche-livres" class="row g-3" autocomplete="off">
            
            {# Filtre par ISBN #}
            <div class="col-md-5">
                <label for="isbn" class="form-label">Numéro ISBN</label>
                <input type="text" 
                       name="isbn" 
                       id="isbn" 
                       class="form-control" 
                       placeholder="Ex: 9782..." 
                       autocomplete="off">
            </div>

            {# Filtre par Auteur #}
            <div class="col-md-5">
                <label for="auteur" class="form-label">Auteur</label>
                <input type="text" 
                       name="auteur" 
                       id="auteur" 
                       class="form-control" 
                       placeholder="Nom de l'auteur..." 
                       autocomplete="off">
            </div>

            <div class="col-md-2 d-flex align-items-end">
                <div class="btn-group w-100">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Rechercher
                    </button>
                    
                    <button type="button" class="btn btn-outline-secondary" id="btn-effacer">
                        Effacer
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
